@import '~@angular/material/theming';
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@include mat-core();

  /*lightTheme*/
  $primary: mat-palette($mat-blue-grey, 800);
  $accent: mat-palette($mat-orange,200);

  $theme: mat-light-theme($primary, $accent);

  /*darkTheme*/
  $dark-primary: mat-palette($mat-blue,800);
  $dark-accent: mat-palette($mat-orange,800);

  $dark-theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);

.material-dark-theme {
  @include angular-material-theme($dark-theme);
}
